.searchbox {
  i {
    position: absolute;
    padding: 5px;
    color: white;
}
    input[type=search] {
      background: #333333 no-repeat 9px center;
      border: solid 1px #ccc;
      padding: 9px 10px 9px 32px;
      width: 100%;
      background-color: #333333;
      border: solid 1px #b3b3b3;
      color: #ffffff;
    }
}